.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--theme-gap);
}

.card {
  display: flex;
  flex-direction: column;
}

.intro-section {
  background-color: var(--carolina-blue);
  padding: var(--theme-padding);
  width: 100vw;
}

.intro-section:nth-child(2) {
  background-color: var(--marigold);
}

.intro-section:nth-child(3) {
  background-color: var(--flame);
}
